* {
  margin: 0;
  padding: 0;
  /* 给所有元素设置这个盒模型属性为了让盒模型的和设置的宽度一样 
   因为移动端做全屏页面宽度100% 如果因为边框或者padding导致超出范围出现滚动条不利于用户体验 */
  box-sizing: border-box;
  /* 设置移动端点击高亮背景色  去掉就设置为透明颜色即可*/
  -webkit-tap-highlight-color: transparent;
  /* 设置文字允许字体小于12px; */
  -webkit-text-size-adjust: none;
  /* 防止文字的锯齿样式 */
  -webkit-font-smoothing: antialiased;
}
html {
  font-size: 26.6667vw;
}
/* 给body设置字体默认样式 */
body {
  background: #fff;
  font-size: .14rem;
  font-family: -apple-system, Helvetica, sans-serif;
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: #666;
}
li {
  list-style: none;
}
input {
  border: 0;
  outline: none;
}
img {
  /* 解决图片底部3px间隙问题 */
  vertical-align: middle;
}
i {
  /* 去掉斜体 */
  font-style: normal;
}
.bt {
  border-top: 1px solid #cdcdcd;
}
.bl {
  border-left: 1px solid #cdcdcd;
}
.bb {
  border-bottom: 1px solid #cdcdcd;
}
.br {
  border-right: 1px solid #cdcdcd;
}
/* 环形菜单 */
.circle .ring a {
  background-size: 30px 30px;
}
.ring > a:nth-child(1) {
  background-image: url("../images/ic_search.png");
}
.ring > a:nth-child(2) {
  background-image: url("../images/ic_cu.png");
}
.ring > a:nth-child(3) {
  background-image: url("../images/ic_coudanpin.png");
}
.ring > a:nth-child(4) {
  background-image: url("../images/ic_bcj.png");
}
.ring > a:nth-child(5) {
  background-image: url("../images/haitao.png");
}
.ring > a:nth-child(6) {
  background-image: url("../images/ic_temai.png");
}
.ring > a:nth-child(7) {
  background-image: url("../images/ic_coudanpin.png");
}
.ring > a:nth-child(8) {
  background-image: url("../images/home.png");
}
.circle {
  position: fixed;
  height: 30px;
  width: 30px;
  top: 45px;
  left: 0px;
  z-index: 999;
}
.ring {
  position: absolute;
  left: 15px;
  top: 15px;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  opacity: 0;
  transform: scale(0) rotate(-270deg);
  -moz-transform: scale(0) rotate(-270deg);
  -transform: scale(0) rotate(-270deg);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.open.ring {
  left: -45px;
  top: -45px;
  opacity: 1;
  width: 120px;
  height: 120px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transform: scale(1) rotate(0deg);
  -transform: scale(1) rotate(0deg);
}
.center {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #b3b3b3;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.open.center {
  border-color: #aaaaaa;
}
.menuItem {
  border-radius: 50%;
  color: #eeeeee;
  display: block;
  height: 30px;
  line-height: 30px;
  margin-left: -15px;
  margin-top: -15px;
  position: absolute;
  text-align: center;
  width: 30px;
}
.mask {
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
}
.hide {
  display: none;
}
#header {
  height: .5rem;
  line-height: .5rem;
}
#header .title {
  background-color: #ff4e49;
  height: .5rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  line-height: .5rem;
}
#header .title .logo {
  padding: 0 .1rem;
}
#header .title .logo img {
  max-height: .25rem;
}
#header .title .appload {
  padding: 0 .1rem;
}
#header .title .appload img {
  max-height: .34rem;
}
#header .search form {
  background-color: #fff;
  display: flex;
  padding: .1rem;
  position: fixed;
  top: .5rem;
  width: 100%;
  z-index: 999;
}
#header .search form .input-search {
  flex: 1;
  background: #f1f1f1;
  font-size: .13rem;
  margin-right: .1rem;
  padding-left: .2rem;
  height: .3rem;
  line-height: .3rem;
  border-radius: .15rem;
}
#header .search form .input-button {
  font-size: .16rem;
  width: .63rem;
  height: .3rem;
  line-height: .2rem;
  border-radius: .15rem;
  background-color: #565656;
  color: #fff;
}
#header .title h2 {
  font-size: .2rem;
  font-weight: normal;
  color: #fff;
  line-height: .15rem;
}
#header .title a.logo {
  display: block;
  background-color: transparent;
  z-index: 999;
  font-size: .2rem;
  width: .4rem;
  height: 50px;
  text-align: center;
  line-height: .5rem;
  color: #fff;
  text-decoration: none;
}
#main {
  padding-top: .5rem;
}
#main .title-product {
  width: 100%;
  height: .42rem;
  overflow: hidden;
}
#main .title-product .nav-tabs {
  width: 8.7rem;
  height: .42rem;
}
#main .title-product .nav-tabs li {
  float: left;
  height: .38rem;
}
#main .title-product .nav-tabs li a {
  cursor: pointer;
  color: #333;
  border: 0;
  border-bottom: 2px solid transparent;
  font-size: .14rem;
  font-weight: 600;
}
#main .title-product .nav-tabs li a:hover {
  background-color: transparent;
}
#main .title-product .nav-tabs li.active a {
  background-color: transparent;
  border-bottom: .02rem solid red;
  color: red;
}
#main #list .list-content ul li {
  padding: .2rem .1rem;
  margin-bottom: .1rem;
}
#main #list .list-content ul li .mainList {
  display: flex;
}
#main #list .list-content ul li .mainList img {
  width: 1.3rem;
  height: 1.3rem;
}
#main #list .list-content ul li .mainList .title {
  padding-left: .2rem;
  flex: 1;
}
#main #list .list-content ul li .mainList .title .top {
  display: flex;
  flex-direction: column;
  margin-bottom: .2rem;
}
#main #list .list-content ul li .mainList .title .top .p-bottom {
  color: #ff6c00;
  font-size: .18rem;
}
#main #list .list-content ul li .mainList .title .top .p-bottom em {
  font-size: .14rem;
}
#main #list .list-content ul li .mainList .title .top .p-bottom i {
  font-size: .14rem;
  padding-right: .05rem;
}
#main #list .list-content ul li .mainList .title .top .p-bottom del {
  color: #ccc;
  font-size: .14rem;
}
#main #list .list-content ul li .mainList .progress-count {
  display: flex;
  line-height: .12rem;
}
#main #list .list-content ul li .mainList .progress-count .progress {
  text-align: center;
  width: .8rem;
  height: .12rem;
  background-color: pink;
  border: 1px solid red;
  margin-right: .1rem;
}
#main #list .list-content ul li .mainList .progress-count .progress .Percentage {
  font-size: 12px;
  color: #fff;
}
#main #list .list-content ul li .mainList .progress-count .progressNum {
  font-size: .12rem;
  color: red;
  font-weight: bold;
}
#main #list .list-content ul li .mainList .content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #a1a1a1;
}
#main #list .list-content ul li .mainList .content a {
  border: 1px dashed red;
  padding-left: .05rem;
  padding-right: .05rem;
  line-height: .28rem;
  text-decoration: none;
}
#main #list .list-content ul li .mainList .content button {
  padding: 0;
  width: .58rem;
  height: .28rem;
  text-align: center;
  line-height: .16rem;
  font-size: .12rem;
}
