@import "base.less";

// 头部区域


// 主体区域
#main {
    padding-top: 1rem;

    // 轮播图区域
    #slide {
        .swiper-pagination-bullet-active {
            background-color: #fff;
        }

        .swiper-slide {
            img {
                width: 100%;
            }
        }
    }

    // 菜单区域
    #menu {
        display: flex;
        flex-wrap: wrap;

        .menu-item {
            text-align: center;
            padding: .15rem;
            width: 25%;

            a {
                display: block;

                img {
                    width: .5rem;
                    height: .5rem;
                }
            }

        }

        .menu-item:nth-child(1) {

            animation: bounceInDown 1s ease-in-out both;
        }

        .menu-item:nth-child(2) {

            animation: bounceInDown 1s .2s ease-in-out both;
        }

        .menu-item:nth-child(3) {

            animation: bounceInDown 1s .4s ease-in-out both;
        }

        .menu-item:nth-child(4) {

            animation: bounceInDown 1s .6s ease-in-out both;
        }

        .menu-item:nth-child(5) {

            animation: bounceInDown 1s .8s ease-in-out both;
        }

        .menu-item:nth-child(6) {

            animation: bounceInDown 1s 1s ease-in-out both;
        }

        .menu-item:nth-child(7) {

            animation: bounceInDown 1s 1.2s ease-in-out both;
        }

        .menu-item:nth-child(8) {

            animation: bounceInDown 1s 1.4s ease-in-out both;
        }

        @keyframes bounceInDown {

            from,
            60%,
            75%,
            90%,
            to {
                animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            }

            0% {
                opacity: 0;
              
                transform: translatey( -1rem);
            }

            60% {
                opacity: 1;
            
                transform: translatey(.25rem);
            }

            75% {
                transform: translatey(-0.1rem);
            }

            90% {
                transform: translatey(.05rem);
            }

            to {
                transform: none;
                opacity: 1
            }
        }

      
        // .menu-item:nth-child(n+9){
        //     display: none;
        // }
    }

    // 标题区域
    .list-title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: .35rem;
        line-height: .35rem;
        background-color: #ff4e49;

        span {
            font-size: .16rem;
            color: #fff;
            padding-left: .2rem;
        }

        img {
            width: .2rem;
            height: .2rem;
            margin-right: .1rem;
            margin-bottom: .05rem;
        }
    }

    //列表区域
    #list {

        .list-content {
            ul {
                li {
                    padding: .2rem .1rem;

                    a {
                        display: flex;

                        img {
                            width: 1rem;
                            height: 1rem;
                        }

                        .title {
                            padding-left: .2rem;
                            flex: 1;

                            p {
                                margin-bottom: .3rem;

                                span {
                                    color: #ff6c00;
                                }
                            }

                            .content {
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                color: #a1a1a1;
                            }
                        }
                    }
                }
            }
        }

    }

}

.more {
    height: .52rem;
    width: 100%;
    padding: .1rem;

    a {
        display: block;
        border: 1px solid #ccc;
        text-align: center;
        line-height: .32rem;
    }
}